html,body {
	margin: 0;
	/*padding:0;*/ 
	height: 100%;
	width: 100%;
}

.backgroundimg{
	width: 100%;
	height: 500px;
	background: url(http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,fl_progressive,h_1200,q_90,w_2000/tgq4skfpuvoub3q4bjsv.jpg);
	border-bottom: 2px solid orange;
	padding-top: 50px;
	/*margin-top: -21px;*/
}

.fernanda{
	padding-top: 5%;
	text-align: center;
}

.fernanda img{
	border-radius: 150px; 
	border:3px solid white;
}

.title{
	margin-top: 44px;
	padding-top: 22px;
}
.title h1{
	color: white;
	text-align: center;
	margin-bottom: 8px;
	margin-top: -50px;
}

.title h3 {
	color: white;
	text-align: center;
	margin-top: -20px;
}


.tagline{
	margin-top: 0;
	color: gray;
	font-size: 35px;
	font-family: Roboto;
	text-align: center;
	padding: 3% 3.5%;
	margin-bottom: 3px;
}


.picname {
	position:inline-block;
}

.aboutme{
	width: 100%;
	height: 175px;
	background: #e2eef2;
	/*padding-top: 0;
	margin-top: 0;*/
}


.aboutmeone {
	width: ;
}
.nav {
	border-bottom: 2px solid white;
	border-top: 2px solid white;
	width: 45%;
	margin: 10% 25% 0 25%;
}
.navbar {
	/*display: inline;
	list-style-type: none;*/
	
}
.nav li{
	display: inline;
	list-style-type: none;
	list-style: none;
	display: inline;
	list-style-type: none;

}
.nav a {
	text-decoration: none;
	color: white;
	font-size: 25px;
	margin: 4%;
}

.maincontent {
	width: 100%;
	height: 300px;
	background: white;
	border-bottom: 1.5px solid black;
	border-top: 1.5px solid black;
		
}

.alignbox {
	display: flex;
	justify-content: space-around;

}

.aboutmeone {
	width: 26%;
	height: 200px;
	border: 1px solid white;
	font-size: 25px;
	font-family: Roboto;
	text-align: left;
	margin:2%;
	
}

.aboutmetwo{
	width: 26%;
	height: 200px;
	border: 1px solid white;
	font-size: 25px;
	font-family: Roboto;
	text-align: center;
	margin:2%;

	

}
.aboutmethree{
	width: 26%;
	height: 200px;
	border: 1px solid white;
	font-size: 25px;
	font-family: Roboto;
	text-align: right;
	margin:2%;


}

.reachout {
	background: #e2eef2;
	width: 100%;
	height: 200px;
}
.underline {
	text-decoration: underline;
	text-align: center
}

.fa {
	color: gray;
	border-radius: 150px; 
	font-size: 100px;
	margin: 5%;
	margin-left: 10%;

}